---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}
{{ content }}

{% for post in site.posts limit:1 %}
{% assign author = site.data.authors[post.author] %}

<h3>{{ post.title }}</h3>
<h3><a href={{site.baseurl}}/categories>[{{ post.categories }}]</a></h3>

<time datetime="{{ post.date }}">
  <small>
    <strong>{{ post.date | date_to_string }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>

{% include post-intro.html %}
{{ post.content }}

<nav aria-label="Adjacent Posts">
  <ul>
    {% if post.previous.url %}
      <li>
        <a href="{{post.previous.url}}" rel="prev">&laquo; {{post.previous.title}}</a>
      </li>
    {% endif %}
    {% if post.next.url %}
      <li>
        <a href="{{post.next.url}}" rel="next">{{post.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endfor %}

{% include latest_post_list.html %}
